<div>
    <div (click)="onViewFiliere()" class="bg-white p-4 rounded-lg shadow hover:bg-green-100 transition cursor-pointer">
        <p class="font-semibold">{{ filiere.nom }}</p>
        <p class="text-sm text-gray-600">{{ filiere.description }}</p>
        <p class="text-xs text-gray-400">{{ filiere.nbEtudiants }} étudiants</p>
        @if (editable) {
            <button (click)="onEdit.emit(filiere)" class="text-sm text-blue-500 hover:text-blue-700 mt-2">
                Modifier
            </button>
        }
    </div>
</div>